// ESLint 检查 .vue 文件需要单独配置编辑器：
// https://eslint.vuejs.org/user-guide/#editor-integrations
{
  "extends": ["taro/vue3"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "alias": {
        "@": "/src"
      }
    }
  },
  "rules": {
    // 可以在这里添加自定义的 ESLint 规则
    "@typescript-eslint/no-unused-vars": "warn",
    "vue/multi-word-component-names": "off"
  }
}

