@import '@/app.scss';

.custom-tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  z-index: 999;
  
  .tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding-top: 4px;
    box-sizing: border-box;
    
    .tab-icon {
      width: 40px;
      height: 40px;
    }
    .tab-text {
      font-size: 24px;
      color: #999;
      margin-top: 2px;
      
      &.active {
        color: #ff7d00;
        font-weight: 500;
      }
    }
  }
}